@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

#wrap { 
    width: 1140px;
	margin: 0px auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #212529;
    text-decoration: none;
}

/*-------------- Nav-bar animation --------------------*/
.no-italics {
    font-style: normal; 
    font-size: 14px; 
}

.nav_links li:nth-child(1) a::after {
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 0%;
    background-color:#7d8dff;
    margin-top: 4px;
    margin-left: 5px;
    transition: all 300ms ease-in;
}

.nav_links li:nth-child(1) a:hover::after{
    width:11%;
    transform:scaleX(-100%);
}

.nav_links li:nth-child(2) a::after {
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 0%;
    background-color:#7d8dff;
    margin-top: 4px;
    margin-left: 6px;
    transition: all 250ms ease-in;
}

.nav_links li:nth-child(2) a:hover::after{
    width:12.5%;
    transform:scaleX(-100%);
}

.nav_links li:nth-child(3) a::after {
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 0%;
    background-color:#7d8dff;
    margin-top: 4px;
    margin-left: 5px;
    transition: all 250ms ease-in;
}

.nav_links li:nth-child(3) a:hover::after{
    width:11.5%;
    transform:scaleX(-100%);
}

.nav_links li:nth-child(4) a::after {
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 0%;
    background-color:#7d8dff;
    margin-top: 4px;
    margin-left: 5px;
    transition: all 250ms ease-in;
}

.nav_links li:nth-child(4) a:hover::after{
    width:8.5%;
    transform:scaleX(-100%);
}

.nav_links li:nth-child(5) a::after {
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 0%;
    background-color:#7d8dff;
    margin-top: 4px;
    margin-left: 5px;
    transition: all 250ms ease-in;
}
.nav_links li:nth-child(5) a:hover::after{
    width:15%;
    transform:scaleX(-100%);
}

.fnav-item1 a i{       
    position: absolute;
    padding-left:0px;
    transition: padding 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fnav-item1 a:hover > i {
    padding-left:5px;
}

/*-------------- Nav-bar animation end --------------------*/

.fnav-container{
    position: relative;
    display: flex;
    justify-content:flex-start;
    padding-top: 15px;
}

.fnav-item1 {
    position: relative;
    display: flex;
    align-content: center;
    margin-left: auto;
}

.fnav-item1 a{
    margin-top: 10px;
    margin-left: 20px;
}

.fnav-item1 i{
    margin-left: 10px;
}

.fnav-item2 {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 21rem;
}

.fnav-item3 {
    position: relative;
    margin:0px 5px 0px 10px;
    /* margin-right: 20px; */
}

.fnav-item4 {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right:auto;
}

.logo{
    cursor: pointer;
    height: 42px;
    width: auto;
    margin-right: auto;
}

.nav_links{
    list-style: none;
    padding-bottom: 10px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 10px;
} 

.nav_links li a{
    padding: 0px 8px;
}

.nav-divider{
    display: inline-block;
    border-left: 0.1px outset;
    color: #adb5bd;
    filter: blur(0.5px);
    height: 40px;
}

.nav-divider-2{
    display: inline-block;
    border-left: 0.1px outset;
    color: #adb5bd;
    filter: blur(0.5px);
    height: 40px ;
}

/* body back ground colour #adb5bd */