@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

#wrap { 
    width: 1140px;
	margin: 0px auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #212529;
    text-decoration: none;
}

/*-------------- Nav-bar animation --------------------*/

.nav_links li span::after{
    content:'';
    position:absolute;
    display:block;
    height:0.2em;
    width: 100%;
    background-color:#7d8dff;
    left: -400px;
    margin-left: 520px;
    margin-top: 4px;
    transition: left 0.5s ease 0s, margin-left 0.5s ease 0s;
}

.nav_links li:hover span::after{
    left: 0;
    margin-left: 0;
    transition: left 0.3s ease;
}

.fnav-item1 a span{       
    position: absolute;
    padding-left:5px;
    transition: padding 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fnav-item1 a:hover > span{
    padding-left:14px;
}

/*-------------- Nav-bar animation end --------------------*/

.fnav-container{
    position: relative;
    display: flex;
    justify-content:flex-start;
    padding-top: 15px;
}

.fnav-item1 {
    position: relative;
    display: flex;
    align-content: center;
    margin-left: auto;
}

.fnav-item1 a{
    margin-top: 10px;
    margin-left: 20px;
}

.fnav-item1 i{
    margin-left: 10px;
}

.fnav-item2 {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 22rem;
}

.fnav-item2 li{
    overflow: hidden;
    position: relative;
}

.fnav-item3 {
    position: relative;
    margin:0px 5px 0px 10px;
}

.fnav-item4 {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right:auto;
}

.logo{
    cursor: pointer;
    height: 42px;
    width: auto;
    margin-right: auto;
}

.nav_links{
    list-style: none;
    padding-bottom: 10px;
}

.nav_links li{
    display: inline-block;
    padding-bottom:8px;
    margin: 0px 18px;
} 

.nav_links li a{
    padding: 0px;
}

.nav-divider{
    display: inline-block;
    border-left: 0.1px outset;
    color: #adb5bd;
    filter: blur(0.5px);
    height: 40px;
}

.nav-divider-2{
    display: inline-block;
    border-left: 0.1px outset;
    color: #adb5bd;
    filter: blur(0.5px);
    height: 40px ;
}

/* body back ground colour #adb5bd */